#OS X
.DS_Store

#Qt Creator
CMakeLists.txt.user
CMakeLists.txt.user.*
*.autosave

#PHP Storm
.idea

#CMake
/build

#output file
file/out.pdf
file/out.svg

#bit file copy
/php/exec/Art_robot.exe
/php/exec/Art_robot
